<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481023956338-k7nj1oa98r0i4g48qq9rmtqmojdhlikl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481023956338-k7nj1oa98r0i4g48qq9rmtqmojdhlikl</string>
	<key>API_KEY</key>
	<string>AIzaSyAF0M5DXyztwete3cAfzWKtaKyFfkz-kfY</string>
	<key>GCM_SENDER_ID</key>
	<string>481023956338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-kanagaraj</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-kanagaraj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481023956338:ios:dc58269fd5ac3028abf9eb</string>
</dict>
</plist>